<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>
<div >
<nav class="navbar navbar-expand" th:fragment="navigation">
<a class="navbar-brand text-white" href="/">Cat Tinder</a>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        <a class="nav-link text-white" href="/index">List</a>
        <a sec:authorize="hasAuthority('ADMIN')" class="nav-link text-white" href="/add">Add</a>
	</div>
  </div>
</nav>
</div>

</body>
</html>