/******* General ********/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/******* Headers ********/

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	line-height: 2;
}

/******* Navigation ********/

.navbar {
	background-color:#ff4c68;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: "Montserrat";

}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/******* Card ********/

.card-container {
	padding: 3rem 0;
	display: grid;
	row-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	justify-items: center;
	align-items: center;
}

.card-body h6 {
	font-weight: bold;
	font-size: 0.8rem;
}

.card-body ul {
	list-style: none;
	padding-left: 0;
}

.card-body ul li {
		padding: 0 1rem;
		text-align: left;
		border-left: 3px solid #ff4c68;
}

/******* Form ********/

form {
	text-align: left;
}
