<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="container">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Log Out" class="btn btn-danger"  style="float:right; margin:10px 0"/>
	</form>
	<h1 th:text="${title}"></h1>
	<p class="greeting" th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</p>
	<a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Add a New Cat</a>
 	<div class="card-container">
	 	<div th:each="cat : ${cats}">
			<div class="card" style="width: 18rem;">
			  	<span th:if="${cat.imageUrl!=null and !cat.imageUrl.empty}"><img class="card-img-top" th:src="@{${cat.catImagePath}}" /></span>
		  		<span th:if="${cat.imageUrl==null or cat.imageUrl.empty}"><img style="width: 18rem; height: auto;" th:src="@{/images/noimage.png}"></span>
		  		<div class="card-body">
				    <h5 class="card-title" th:text="${cat.name}">Cat Name</h5>
		 	   		<h6 class="card-text" th:text="${cat.breed.breed_name}"></h6>
				    <p class="card-text" th:text="${cat.description}"></p>
				    <ul>
				    	<li th:text="${cat.location}"></li>
				    	<li>
				    		<span th:if="${cat.female == true}">Female</span>
							<span th:if="${cat.female == false}">Male</span>
				    	</li>
				    	<li th:text="${cat.calcAge()} + ' year(s) old'"></li>
				    </ul>
				<!--  <a href="#" class="btn btn-sm btn-primary">View details</a> -->
				    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-info" th:href="@{/edit/{id}(id=${cat.id})}">Edit</a>
				   <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${cat.id})}">Delete</a>
				</div>
			</div>
		</div>
	</div>
	<!--  th:src="@{../../../../cat-images} + '/' + ${cat.id} + '/' + ${cat.imageUrl}-->
</div>
</body>
</html>