<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="container">
	<h1 th:text="${title}"></h1>
	<a class="btn btn-primary" href="/index">Back to listing</a>
	<form style="max-width:580px" th:object="${cat}" th:action="@{../save}" action="#" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<input type="hidden" th:field="*{id}" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="Name">Name</label>
			<input class="form-control" type="text" id="name" th:field="*{name}"/>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" type="text" id="description" th:field="*{description}"/>
		</div>
		<div class="form-check-inline form-group">
			<input class="form-check-input" type="radio" id="male" th:value="false" name="gender" th:field="*{female}" />
			<label class="form-check-label" for="male">Male</label>
		</div>
		<div class="form-check-inline form-group">
			<input class="form-check-input" type="radio" id="female" th:value="true" name="gender" th:field="*{female}" />
			<label class="form-check-label" for="female">Female</label>
		</div>
	<!-- 	<div class="form-group">
			<label for="image">Image Upload</label>
			<input class="form-control" type="text" id="imageUrl" th:field="*{catImagePath}"/>
			<input type="file" name="image" id="image" accept="image/png, image/jpeg" />
			<img style="width: 200px; height: auto;" id="thumbnail" alt="Image Preview" />
		</div>  -->
		<div class="form-group">
			<label for="location">Location</label>
			<input class="form-control" type="text" id="location" th:field="*{location}"/>
			<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="birthYear">Birth Year</label>
			<input class="form-control" type="text" id="birthYear" th:field="*{birthYear}"/>
		</div>
		<div class="form-group">
		    <label for="category">Breed</label>
		    <select class="form-control" id="breedlist" th:field="*{breed}">
		      <option th:each="breed : ${breeds}" th:value="${breed.breed_id}" th:text="${breed.breed_name}"></option>
		    </select>
		</div> 
		<input class="btn btn-success" type="submit" value="Save"></input>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#image').change(function() {
			showImageThumbnail(this);
		});
	}) 
	
	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];
		reader = new FileReader();
		
		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
			
		};
		reader.readAsDataURL(file);
	}
</script>
</body>
</html>